* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', 'Monospace';
    box-sizing: border-box;
}
body {
    background:linear-gradient(180deg,#132a13 0%,#4f772d 100%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: .5%;
}
main {
    width: 95vw;
    margin: auto;
}
.hearder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 5vh;
    background-color:#132a13 ; 
    color: #fff;
    font-size: 1.2rem;
}
.contato-header {
    display: flex;
    justify-content: space-between;
    
}
.hearder > img{
    height: 20px;
    justify-content: space-between;
}

.icons {
    cursor: pointer;
    margin-left: 47%;
    margin-top: 9px;
    color: #fff;
    align-items: center;
    display: flex;
    width: 1000%;

}
.icons {
    cursor: pointer;
    margin-left: 800px;
    margin-top: 9px;
    color: #fff;
}

.icons > img:hover{
    background:blue;
    transition: 0.5s;
}

.icons > img {
    border-radius: 30px;
}
.menu {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    animation: animacao 1.2s  forwards;
    background-color: #DEF886;
    padding: 15px;
}
.menu > ul > strong > li > a {
    text-decoration: none;
}
.menu > a > img {
    height: 150px;
    border-radius: 80px;
    margin: 0.5%;
    margin-left: 40px;
    animation: animacao 1.2s  forwards;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    list-style: none;
    margin-right: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.35rem;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
   color: #25d366;
   transition: 0.7s;
}
.container {
    height: 75vh;
    width: 100%;
    color: rgb(235, 11, 11);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container > div {
    width: 45%;
    text-align: center;
}

.container > div > h1 {
    color: black;
    margin-bottom: 25px;
}

.container > div >  p {
    text-align: center;
    animation: animacao 1.2s  forwards;
    font-size: 1.5rem;
    text-align: justify;
    text-indent:  50px;
    color: black;
    font-weight: 600;
    line-height: 40px;
}

.container img {
    width: 800px;
    height: 400px;
}